.section {
   position: relative;
   width: 100%;
   height: 100vh;

   &__icon {
      position: fixed;
      top: 48px;
      right: 74px;
      width: 52px;
      height: 52px;
      background: #EC1119;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;

      @media (max-width: 360px) {
         width: 29px;
         height: 29px;
         top: 25px;
         right: 11px;
      }

      /* Ensure that the icon's position is relative */
      &>.sound-icon {
         font-size: 32px;
         color: #fff;
         cursor: pointer;
         position: relative;
         width: 32px;
         height: 32px;
         z-index: 2;

         @media (max-width: 360px) {
            font-size: 17px;
            width: 18px;
            height: 18px;
         }
      }

      &>.sound-icon.active::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         width: 200%;
         /* Ensure the line extends beyond the icon */
         height: 2px;
         /* Thickness of the line */
         background: white;
         /* Color of the line */
         transform: translate(-50%, -50%) rotate(140deg);
         /* Position and rotate the line */
         z-index: 1;
         /* Ensure the line is below the icon */
      }
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../image/background.png') no-repeat center center;
      background-size: cover;
      z-index: 0;
   }

   &__characters {
      position: absolute;
      top: 120px;
      right: 0;
      width: 100%;
      height: 100%;
      display: none;
      /* Hide characters by default */
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 360px) {
         justify-content: center;
         align-items: center;
         position: absolute;
      }


   }

   &__character {
      max-width: 50%;
      /* Adjust size as needed */
      height: auto;
      margin: 0 10px;

      @media (max-width: 360px) {
         max-width: 100%;
      }
   }

   &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      color: white;
      text-align: center;
      padding: 20px;
      width: 1118px;
      /* Specific width for swiper */
      max-width: 100%;
      /* Ensures that step does not exceed the viewport width */
      box-sizing: border-box;
      margin: 0 auto;
   }

   &__step--active {
      display: block;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // min-height: 100vh;
      // box-sizing: border-box;
      // padding-bottom: 20px;
   }

   &__step:not(.section__step--active) {
      display: none;
   }

   &__swiper {
      // position: relative;
   }

   &__step--swiper {
      width: 1310px;
      /* Specific width for swiper */
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      width: 1310px;
      max-width: 100%;

   }

   &__swiper__step {}

   &__swiper__step--active {
      display: block;
   }

   &__swiper__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
   }

   &__swiper__button--prev {
      /* Styles for previous button */
   }

   &__swiper__button--next {
      /* Styles for next button */
   }

   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      align-items: flex-end;

      @media (max-width: 360px) {
         display: flex;
         flex-direction: column-reverse;
         gap: 10px;
         width: 100%;
         align-items: center;
         justify-content: flex-end !important;
      }
   }

   &__step--wellcome {
      padding-top: 191px;
      padding-bottom: 191px;

      @media (max-width: 360px) {
         padding: 20px 26px 18px 26px;
      }
   }

   &__step--swiper {
      padding-top: 35px;
      padding-bottom: 35px;

      @media (max-width: 360px) {
         padding: 20px 26px 30px 26px;

      }
   }

   &__step--last {
      padding-top: 257px;
      padding-bottom: 258px;

      @media (max-width: 360px) {
         padding: 20px 26px 30px 26px;

      }
   }


}

@media (max-width: 360px) {
   .section__background {
      background-image: url('/image/background-small.jpg');
   }
}

@media (max-width: 360px) {

   .character1,
   .character4 {
      display: none;
   }

   .character2,
   .character3 {
      display: block;
   }
}

.character2 {
   @media (max-width: 360px) {
      position: absolute;
      right: 70px;
      top: 56px;
   }
}

.character3 {
   @media (max-width: 360px) {
      position: absolute;
      right: 0px;
      top: -30px;
   }
}